{% extends 'layout.html.twig' %}

{% block page_title %}
	Historia transakcji darczyńcy
{% endblock page_title %}

{% block header_title %}
	Historia transakcji darczyńcy
	{{donor}}
{% endblock header_title %}

{% block header_right %}
	<div
		style="width: 300px;">{# {% include "bank_history/_summary.html.twig" %} #}
	</div>
{% endblock header_right %}

{% block page_contents %}
	<div {{ stimulus_controller('pager') }}>
		{% if pager %}
			{% include "bank_history/_table_navbar_donor.html.twig" %}
			<div class="table-responsive-xxl">
				<table class="table table-sm table-hover table-striped align-middle">
					<thead>
						<tr>
							<th style="width: 100px;">
								Data
							</th>
							<th style="width: 110px;">
								Kwota
							</th>
							<th>Szczegóły</th>
							<th></th>
						</tr>
					</thead>
					<tbody class="table-group-divider">
						{% if pager is empty %}
							<tr>
								<td colspan="4">
									<i class="fa-solid fa-ghost"></i>
									brak danych...</td>
							</tr>
						{% endif %}
						{% for row in pager %}
							<tr>
								<td>
									{{ row.date|date('Y-m-d') }}
								</td>
								<td class="text-end">
									{% if row.value < 0 %}
										<span class="text-danger">{{ row.value | formatPLN }}</span>
									{% else %}
										{{ row.value | formatPLN }}
									{% endif %}
								</td>
								<td class="lh-sm">
									{{ row.description }}
								</td>
								<td class="text-end">
									<div class="btn-group">
										{% if is_granted('ROLE_ADMIN') %}
											<a class="btn btn-primary btn-sm" href="{{path('app_bank_history_update', {id: row.id})}}">Edytuj</a>
										{% else %}
											<a class="btn btn-primary btn-sm" href="{{path('app_bank_history_details', {id: row.id})}}">
												<i class="fa-solid fa-eye"></i>
												Pokaż
											</a>
										{% endif %}
									</div>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				<div class="d-flex justify-content-end">
					{% include "bank_history/_pager_controls.html.twig" %}
				</div>
			{% else %}
				{# if bank_history_list #}
				<div class="notification is-info">
					brak rokordów do wyświetlenia.
				</div>
			{% endif %}
			{# if bank_history_list #}
		</div>
	{% endblock page_contents %}
