{% extends 'layout.html.twig' %}

{% set title %}
{% if register %}
	Rejestracja użytkownika
{% else %}
	Edycja profilu użytkownika
	{{row.displayName}}
{% endif %}
{% endset %}

{% block page_title %}
	{{title}}
{% endblock page_title %}

{% block header_title %}
	{{title}}
{% endblock header_title %}

{% set layout_narrow = true %}

{% block page_contents %}
	<form class="form" method="post">
		<div class="row">
			<div class="col-md-6">
				{{form_row(form.firstName)}}
			</div>
			<div class="col-md-6">
				{{form_row(form.lastName)}}
			</div>
		</div>
		{{form_row(form.email)}}
		<div class="row">
			<div class="col-md-6">
				{{ form_row(form.plainPassword.first) }}
			</div>
			<div class="col-md-6">
				{{ form_row(form.plainPassword.second) }}
			</div>
		</div>
		{{ form_rest(form) }}

		<div class="d-grid gap-2 d-sm-block">
			<button class="btn btn-primary" name="save">
				<i class="fa-solid fa-floppy-disk"></i>
				Zapisz
			</button>
			<a class="btn btn-outline-secondary" data-history-back">Anuluj</a>
		</div>
	</form>

{% endblock page_contents %}
